section.social
  a(href="https://twitter.com/share" class="twitter-share-button" data-url="http://LearnRedux.com" data-text="I'm taking the Learn Redux course with @wesbos → " data-related="wesbos") Tweet
  a(href="https://twitter.com/wesbos" class="twitter-follow-button" data-show-count="true") Follow @wesbos
  div(class="fb-like" data-href="http://LearnRedux.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false") Like
  g:plusone()
