@font-face {
    font-family: 'tribbon_bregular';
    src: url('/css/fonts/tribbon_b-webfont.eot');
    src: url('/css/fonts/tribbon_b-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/tribbon_b-webfont.woff2') format('woff2'),
         url('/css/fonts/tribbon_b-webfont.woff') format('woff'),
         url('/css/fonts/tribbon_b-webfont.ttf') format('truetype'),
         url('/css/fonts/tribbon_b-webfont.svg#tribbon_bregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1
  font-family 'tribbon_bregular', sans-serif

h2,h3,h4,h5
  font-family 'lato', sans-serif
  font-weight 700
  color black
  margin 0

h3
  font-size 25px

p
  font-family 'lato'
  font-weight 700

.title
  font-size 5rem

.center
  text-align center
