
yellow  = #EAFA52
lightyellow = lighten(yellow,60%)
pink = #FF77FD
purple = #C16ECF
black = #3F3F3F

@import '_normalize'
@import '_typography'

body
  font-family sans-serif
  background-attachment fixed
  -webkit-font-smoothing: antialiased;
  &:before
    // HOT TIP: do this on the before element so it doesn't span 100% content height on mobile
    background-image:url('../images/tswirls.png'), linear-gradient(20deg, yellow 0%, pink 100%);
    // background-image: radial-gradient(43% 100%, #FF77FD 0%, #EAFA52 100%, #FF4B4B 100%);
    content : ''
    display block
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    z-index -1

html
  font-size 10px

h1
  font-size 5rem

a
  cursor pointer

p
  font-size 1.8rem
  a
    color white
    text-decoration none
    transition all 0.2s
    position relative
    color black

img
  max-width 100%

h1
  font-size 170px
  a
    color white
    text-decoration none
    padding 10px

.desc
  font-size 22px
  line-height 1.6
  color black
  letter-spacing 1px
  max-width 500px
  display inline-block
  &.sub
    font-size 18px
    max-width 700px

/*
  Header Band
*/
header.top
  text-align center
  color white
  padding 2rem
  position relative
  overflow hidden
  // padding-bottom 8rem
  h1
    display flex
    justify-content center
    line-height 0.8
    text-shadow 1px 1px 4px alpha(black,40%)
    letter-spacing 10px
    font-weight 100
    margin 0
    a
      border 3px solid white
      flex 0
      padding 3rem 4rem 1rem 4rem
      box-shadow 0px 0px 0px 3px alpha(black,10%), inset 0px 0px 0px 3px alpha(black,10%)

/*
  Sign Up Band
*/
.sign-up-band
  background white
  background-image:url('../images/tswirls.png')
  box-shadow 0 0 0 3px rgba(0,0,0,0.05)

hr
  border 0
  border-bottom 1px solid lighten(grey,80%)

.inner
  max-width 900px
  margin 0 auto

.what-youll-get
  p
    font-size 2rem
  ul
    list-style square
    font-size 1.2rem
    padding 0 1.7rem
    margin 0
    line-height 2

.tech-logos
  display flex
  justify-content center
  align-items center
  & > *
    margin 2rem
    font-size 0

/*
  Scaler
*/
.scaler
  width 100%
  position relative
  padding-bottom: 56.25%
  iframe
    width 100%
    height 100%
    position absolute
    top 0
    bottom 0
    right 0
    left 0

grey = #CBCBCB

.videos
  display flex
  flex-wrap wrap
  margin 50px 0
  border-radius 3px
  border 1px solid grey
  width 100%

.video
  flex 1
  display flex
  flex-basis 50%
  width 100%
  background white
  border-right 1px solid grey
  &:last-child a
    border-bottom 0
  p
    margin 0
    clear both
    color black
    font-size 15px
  span.video-number
    padding 10px
    font-size 15px
    flex-basis 50px
    text-align center
    align-self center
    color darken(grey,30%)
    font-weight 100
  a
    border-bottom 1px solid grey
    border-left 1px solid grey
    padding 30px
    flex 1
    cursor pointer
  img
    float left
    margin-right 10px
    margin-bottom 10px
    width: 200px;
    height: auto;
  h2
    color black
    font-size 17px
    line-height: 1.6;
    margin-top: -2px;
    font-family 'Oswald'
    text-transform uppercase
    letter-spacing 1px
    .duration
      font-size 10px
      background lighten(grey ,70%)
      padding 2px 5px
      position relative
      top -3px
      margin-left 5px
      color:rgba(0,0,0,0.5)
      border-radius 4px

.video-details
  background rgba(0,0,0,0.2)
  padding 20px
  margin-bottom 20px
  color white
  h2
    font-size 30px
  p
    font-size 15px
    margin-bottom 0


.about
  padding 3rem 0 3rem 0
  max-width 1200px
  margin 0 auto 2rem auto
  display flex
  flex-wrap wrap
  a
    border-bottom 2px solid yellow
    color darken(purple,60%)
  h3
    font-weight 700
    font-size 3rem
    margin-bottom 2rem
    border-bottom 1px solid rgba(0,0,0,0.1)
    padding-bottom 2rem
    color black
  .half
    flex-basis 50%
    &:first-of-type
      padding-right 4rem
    &:last-of-type
      padding-left 4rem
  p
    line-height 1.8
    margin-top 0
    font-weight 500

  img
    display block
    margin 0 auto
    width 100px
    float left
    margin-right 1rem

.free
  background white
  padding 2rem
  margin 2rem auto
  box-shadow 0 0 0 5px rgba(0,0,0,0.05)
  img
    width 300px
    padding 20px
    margin-right 3rem

.examples
  video
    box-shadow 0 0 0 5px rgba(0,0,0,0.05)
    margin-top -20rem
    background white url('../images/tswirls.png');
    padding 10px

.examples, .the-videos
  text-align center
  clear both

.video-title
  font-size 1.5rem
  margin 0
  text-transform uppercase
  counter-increment video
  text-align left
  &:before
    counter(video, decimal-leading-zero)

.video
  p
    margin-top 0
    line-height 1.8


section.deets
  text-align center
  // border-bottom 1px solid blue
  background darken(white, 3%)
  // margin-bottom 4rem
  padding-top 5rem
  padding-bottom 1rem
  &.secondary
    padding-top 2rem
  p
    font-size 3rem
    max-width 80rem
    margin 0 auto
    line-height 1.5
    &.naw
      font-size 14px
      clear both
      padding-top 1rem


.signup
  overflow hidden
  background white
  position relative
  margin-top 10rem
  margin-bottom -10rem
  top -10rem
  box-shadow 0 0 0 5px rgba(0,0,0,0.05)
  display flex
  align-items: center;
  &.done
    margin-bottom 0
  & > *
    padding 2rem
    flex-grow 1

  h2
    font-size 3rem
    margin-bottom 1rem
    font-weight 100
  .pricing
    max-width 200px
    border-right 1px solid lightgrey
    margin-right 3rem
    p
      font-weight 100
      display flex
      align-items center
      justify-content center
      .currency
        font-size 3rem
      .dollars
        font-size 8rem
      .cents
        align-self flex-start
        font-size 1.5rem
      span
        line-height 0.5
  p
    margin 0
    clear both
    font-size 1.5rem
    font-weight 400
    padding-top 1rem
    padding-bottom 1rem
    strong
      background lightyellow

  .input-wrap
    border:1px solid grey
    display flex
    width 100%
    margin-bottom 1rem
  input
    background white
    padding 1.2rem
    font-size 2rem
    border 0
    outline 0
    &[type="email"]
      width 60%
    &[type="submit"]
      width 40%
      background:yellow url('../images/tswirls.png');
      // text-transform uppercase
      font-weight 600
      color white
      text-shadow 1px 1px 0 alpha(black, 0.2)
      color black
      border-left 1px solid grey

section.social
  text-align center
  padding 2rem
  // border-bottom 1px solid lighten(grey, 90%)
  margin-bottom 2rem
  .fb-like
    position relative
    top -3px
    margin-right: 4rem;
    margin-left: 3rem;
  #___plusone_0
    position relative
    top 1px
  #twitter-widget-0
    margin-left 3rem


.success-sign-up
  background white
  padding 1rem
  display none
  box-shadow 0 0 0 5px rgba(0,0,0,0.05)
  margin-top 10rem
  top -10rem
  position relative
  p
    font-weight 100
    font-size 2rem
    line-height 2
    color black
    margin-top 0
  section.social
    text-align left
    padding 0
    & > *
      display inline-block

p.desc.success
  font-size 2rem
  text-align center
  padding-left 1rem
  background rgba(0,0,0,0.2)
  padding:20px;
  border-radius 5px
  box-shadow inset 0 0 2px rgba(0,0,0,0.2)

.deets
  background yellow

.twitter-tweet
  display inline-block !important
  margin 4rem 1rem 0 !important

.watch-wrap
  display flex
  justify-content center

#watch
  max-width 1200px
  background rgba(0,0,0,0.05)
  padding 2rem
  border-radius 4px

footer
  text-align center
  color white
  font-size 15px
  padding:20px
  a
    color white
    padding 10px
    text-decoration none

.underline
  border-bottom 2px solid yellow
  display inline-block
  margin 0 auto
  padding-bottom 10px
  display none
  max-width 800px

.prev-and-next
  display flex
  justify-content space-between
  margin-top 1rem
  a
    text-decoration none
    background rgba(0,0,0,0.1)
    color white
    font-size 1.5rem
    padding 1rem
    max-width 49%

.sub-count
  background lightyellow

.reviews
  margin-top 4rem
  text-align center
  .tweets
    display flex
    flex-wrap wrap
    flex-basis 50%
    align-items center
    justify-content center


// Animations
@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-20px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(20px, 0, 0);
  }
}

.wiggle
  animation-name: shake;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-iteration-count:1;

@media all and (max-width:1200px)
  #watch
    padding 20px

  .about
    padding 20px

@media all and (max-width:1000px)
  ul.video-list
    padding 1rem
    li
      &:nth-child(1n)
        width 32.5%
        margin-right 1.25%
      &:nth-child(3n+3)
        margin-right 0

@media all and (max-width:850px)
  section.deets
    p.desc
      font-size 2rem
  .what-youll-get
    width 100%
    ul
      margin 0
      padding 0
    li
      width 49%
      display inline-block
  .signup
    flex-wrap wrap
    input
      font-size 1.3rem
      // padding 0.5rem

@media all and (max-width:760px)
  .video
    flex-basis 100%

  .about
    .half
      flex-basis 100%
      margin 10px 0
      padding 0 !important

@media all and (max-width:650px)
  .signup
    .pricing
      width 100%
      border 0
      max-width none
    & > div
      padding 10px

  header.top
    h1
      font-size 90px
      font-size 22vw

@media all and (max-width:480px)
  .video
    a
      padding 15px


@media all and (max-width:420px)
  .signup
    input[type]
      width 100%
      text-align center
      &:first-of-type
        margin-bottom 5px



