extends layout

block content
  header.top
    p.desc 20 video tutorials to help you learn how to build JavaScript apps with React.js and Redux.
    h1
      a(href="http://learnredux.com") Learn Redux
    p.sub.desc In 2.5 hours, You'll build 'Reduxstagram' — a simple photo app that will simplify the core ideas behind Redux, React Router and React.js

  .sign-up-band
    .inner
      form.signup(method="POST")
        .pricing
          p.price
            span.currency $
            span.dollars 0
            span.cents 00
          p FREE
        div
          h2 Ready to take the course?
          .input-wrap
            input(type="email" name="email" placeholder="Email Address")
            input(type="submit" value="Learn Redux!")
          p.details <span class="sub-count">42,000+</span> others have learned with Wes Bos — welcome to the family!
        div.what-youll-get
          p: strong Start the course today! You'll get
          ul
            li Access to all <strong>20 videos</strong>
            li All <strong>starter files</strong>
            li <strong>Webpack</strong> Build Templates
            li Stepped and <strong>finished solutions</strong>
            li <strong>$50 Sentry</strong> credit
      .success-sign-up
        p Success! Check your email for your access link. <br><strong>Mind showing some love?</strong> — I've spent over 100 hours producing this series and it would mean the world if you helped others know about it.</p>
        include ./partials/social.jade

      .tech-logos
        - each tech in ['redux','react','webpack','js','es6','npm','sentry']
          p: img(src='/images/#{tech}.png')

    .about
      .half
        h3 What is this?
        p A short 20 video / 2.5 hour course intended as a next steps for someone already comfortable with React. This is a start-to-finish course that will teach you <strong>React.js</strong>, <strong>Redux</strong> and <strong>React Router</strong>.
        p It's the perfect course to take after <a href="https://ReactForBeginners.com">React For Beginners</a>.

      .half
        h3 Who is Wes Bos?
        p
          img(src="https://pbs.twimg.com/profile_images/623184294521929728/LUJ4qL8n.jpg" class="handsome")
          | <a href="http://wesbos.com">Wes Bos</a> is a fullstack developer and educator from Hamilton, Canada. Wes loves to break down complex topics into short, tasty, little tutorials. He has contributed to Smashing Magazine, CSS Tricks and NetMag as well as released <a href="https://ReactForBeginners.com">React For Beginners</a>, <a href="http://SublimeTextBook.com">Sublime Text Power User</a> and <a href="http://commandlinepoweruser.com">Command Line Power User</a>.

      .full.free
        h3 Why is this free? Whats the catch?
        p
          img(src="https://a0wx592cvgzripj.global.ssl.fastly.net/_static/267a1fc5e2bf404b1549f0ec5afeaf37/getsentry/images/branding/png/sentry-horizontal-black.png" width="600")
          | No catch! A big thanks to <a href="https://getsentry.com/welcome/" target="_blank">Sentry</a> for sponsoring my time to create these videos. <a href="https://getsentry.com/welcome/" target="_blank">Sentry</a> provides JavaScript (among other languages) error tracking with the insights you need to pinpoint and fix bugs in your application. It's an invaluable tool that I use in many of my own projects and in video #17 I'll show you how to integrate it into a React application! As an added bonus, Sentry has provided me with 1,000 <strong>$50 credits</strong> that you'll get when you sign up for this course!

  //- .examples
    video(width="800" src="https://www.dropbox.com/s/59xx6vcez63lwbk/what-you-will-build.mp4?dl=1" loop mute autoplay)
    h3 What will you build?

  include ./partials/social.jade

  section.the-videos
    h3.title Watch The Videos
  .watch-wrap
    #watch

  .reviews
    h3 Some nice things people have said

    .tweets
      <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">Learn Redux (<a href="https://t.co/WZ0mUOiBBA">https://t.co/WZ0mUOiBBA</a>) by <a href="https://twitter.com/wesbos">@wesbos</a> is AMAZING!</p>&mdash; Matheus Lima (@matheusml) <a href="https://twitter.com/matheusml/status/732588905023844352">May 17, 2016</a></blockquote>
      <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">So thankful <a href="https://twitter.com/jennschiffer">@jennschiffer</a> tweeted out the video series at <a href="https://t.co/i4ha0alRHO">https://t.co/i4ha0alRHO</a> by <a href="https://twitter.com/wesbos">@wesbos</a>, it finally let redux click for me</p>&mdash; Bread unslicer (@JohnFrimmel) <a href="https://twitter.com/JohnFrimmel/status/732570773349662720">May 17, 2016</a></blockquote>
      <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">I&#39;m learning Redux with <a href="https://twitter.com/wesbos">@wesbos</a> <a href="https://t.co/wBAv2q9A9D">https://t.co/wBAv2q9A9D</a><br>You come up with great stuff.Learning from him is a cakewalk through technology</p>&mdash; sachin (@sachitaware21) <a href="https://twitter.com/sachitaware21/status/732268247169548288">May 16, 2016</a></blockquote>
      <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">React for beginners is one of the best React tutorials out there now it&#39;s time for Redux! <a href="https://t.co/myNL54neE5">https://t.co/myNL54neE5</a> <a href="https://twitter.com/wesbos">@wesbos</a></p>&mdash; John Ferrie (@johnferrie) <a href="https://twitter.com/johnferrie/status/732222289513721857">May 16, 2016</a></blockquote>

