<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="/css/style.css")
    title Learn Redux Video Tutorial Course
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:image" content="https://LearnRedux.com/images/share.png")
    meta(property="og:title" content="Learn Redux — a free video series")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://LearnRedux.com")
    meta(property="og:site_name" content="Learn Redux — a free video series")
    meta(property="og:description" content="20 video tutorials to help you learn how to build JavaScript apps with React.js and Redux.")
    meta(property="description" content="20 video tutorials to help you learn how to build JavaScript apps with React.js and Redux.")
    meta(name="twitter:card" content="photo")
    meta(name="twitter:site" content="@wesbos")
    meta(name="twitter:creator" content="@wesbos")
    meta(name="twitter:title" content="Learn Redux — a free video series")
    meta(name="twitter:description" content="20 video tutorials to help you learn how to build JavaScript apps with React.js and Redux.")
    meta(name="twitter:image" content="https://LearnRedux.com/images/share.png")
    meta(name="twitter:url" content="https://LearnRedux.com")

    link(rel="icon" href="/images/redux-logo-fav.png")

  body
    block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="https://apis.google.com/js/platform.js" async defer)
    script(src="https://platform.twitter.com/oct.js" type="text/javascript")
    script(src="/js/app.js?v=2")
    footer
      a(href="http://wesbos.com") &copy; Wes Bos
      a(href="http://twitter.com/wesbos") @wesbos
    include ./partials/social.jade
    #fb-root
